.cabeçalho {
    background-color: #804674;
    color: white;
    display: flex;
    padding: 10px;
    justify-content: space-around;

}
.cabeçalho-imagem {
    width: 5%;
    height: 5%;
}
* {
    margin: 0;
    padding: 0;
}
.cabeçalho-item {
    display: inline-block;
    font-size: 35px;
    padding: 0 0 0 30px;
}

.escola {
    background-image: linear-gradient(#804674, #D277C0);
    color: white;
    font-size: 30px;
    padding: 300px 250px;
}
.escola-titulo {
    padding: 24px 0;
}
body {
    font-family: sans-serif;
}
.estudante-div {
    text-align: center;
    padding: 24px 0;
    background-color: rgb(232, 232, 198)   
    
}
.estudante-imagem {
    width: 120px;
}
.estudante-titulo {
    padding: 30px;
}







